# Verification

## Properties
Name | Type | Description | Notes
------------ | ------------- | ------------- | -------------
**brandCheck** | **Boolean** |  |  [optional]
**certPackUuid** | **String** |  |  [optional]
**certificateStatus** | [**CertificateStatus**](CertificateStatus.md) |  | 
**signature** | [**SchemasSignature**](SchemasSignature.md) |  |  [optional]
**validationMethod** | [**SchemasValidationMethod**](SchemasValidationMethod.md) |  |  [optional]
**verificationInfo** | [**VerificationInfo**](VerificationInfo.md) |  |  [optional]
**verificationStatus** | **Boolean** |  |  [optional]
**verificationType** | [**VerificationType**](VerificationType.md) |  |  [optional]
