/*
 * Cloudflare API
 * Interact with Cloudflare's products and services via the Cloudflare API. For more information on how to create and troubleshoot API tokens, refer to our [API fundamentals](https://developers.cloudflare.com/fundamentals/api/).  Totally new to Cloudflare? [Start here](https://developers.cloudflare.com/fundamentals/get-started/).
 *
 * OpenAPI spec version: 4.0.0
 * 
 *
 * NOTE: This class is auto generated by the swagger code generator program.
 * https://github.com/swagger-api/swagger-codegen.git
 * Do not edit the class manually.
 */

package io.swagger.client.api;

import io.swagger.client.ApiCallback;
import io.swagger.client.ApiClient;
import io.swagger.client.ApiException;
import io.swagger.client.ApiResponse;
import io.swagger.client.Configuration;
import io.swagger.client.Pair;
import io.swagger.client.ProgressRequestBody;
import io.swagger.client.ProgressResponseBody;

import com.google.gson.reflect.TypeToken;

import java.io.IOException;


import java.math.BigDecimal;
import io.swagger.client.model.InlineResponse20098;

import java.lang.reflect.Type;
import java.util.ArrayList;
import java.util.HashMap;
import java.util.List;
import java.util.Map;

public class RadarSearchApi {
    private ApiClient apiClient;

    public RadarSearchApi() {
        this(Configuration.getDefaultApiClient());
    }

    public RadarSearchApi(ApiClient apiClient) {
        this.apiClient = apiClient;
    }

    public ApiClient getApiClient() {
        return apiClient;
    }

    public void setApiClient(ApiClient apiClient) {
        this.apiClient = apiClient;
    }

    /**
     * Build call for radarGetSearchGlobal
     * @param query Search for locations, AS and reports. (required)
     * @param limit Limit the number of objects in the response. (optional, default to 5)
     * @param limitPerGroup Limit the number of objects per search category. (optional)
     * @param include Search types to be included in results. (optional)
     * @param exclude Search types to be excluded from results. (optional)
     * @param format Format results are returned in. (optional)
     * @param progressListener Progress listener
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     */
    public com.squareup.okhttp.Call radarGetSearchGlobalCall(String query, Integer limit, BigDecimal limitPerGroup, List<String> include, List<String> exclude, String format, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = null;
        
        // create path and map variables
        String localVarPath = "/radar/search/global";

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        if (limit != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("limit", limit));
        if (limitPerGroup != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("limitPerGroup", limitPerGroup));
        if (query != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("query", query));
        if (include != null)
        localVarCollectionQueryParams.addAll(apiClient.parameterToPairs("multi", "include", include));
        if (exclude != null)
        localVarCollectionQueryParams.addAll(apiClient.parameterToPairs("multi", "exclude", exclude));
        if (format != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("format", format));

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] { "api_email", "api_key", "api_token" };
        return apiClient.buildCall(localVarPath, "GET", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }
    
    @SuppressWarnings("rawtypes")
    private com.squareup.okhttp.Call radarGetSearchGlobalValidateBeforeCall(String query, Integer limit, BigDecimal limitPerGroup, List<String> include, List<String> exclude, String format, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        // verify the required parameter 'query' is set
        if (query == null) {
            throw new ApiException("Missing the required parameter 'query' when calling radarGetSearchGlobal(Async)");
        }
        
        com.squareup.okhttp.Call call = radarGetSearchGlobalCall(query, limit, limitPerGroup, include, exclude, format, progressListener, progressRequestListener);
        return call;

        
        
        
        
    }

    /**
     * Search for locations, autonomous systems (AS) and reports.
     * Lets you search for locations, autonomous systems (AS) and reports.
     * @param query Search for locations, AS and reports. (required)
     * @param limit Limit the number of objects in the response. (optional, default to 5)
     * @param limitPerGroup Limit the number of objects per search category. (optional)
     * @param include Search types to be included in results. (optional)
     * @param exclude Search types to be excluded from results. (optional)
     * @param format Format results are returned in. (optional)
     * @return InlineResponse20098
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public InlineResponse20098 radarGetSearchGlobal(String query, Integer limit, BigDecimal limitPerGroup, List<String> include, List<String> exclude, String format) throws ApiException {
        ApiResponse<InlineResponse20098> resp = radarGetSearchGlobalWithHttpInfo(query, limit, limitPerGroup, include, exclude, format);
        return resp.getData();
    }

    /**
     * Search for locations, autonomous systems (AS) and reports.
     * Lets you search for locations, autonomous systems (AS) and reports.
     * @param query Search for locations, AS and reports. (required)
     * @param limit Limit the number of objects in the response. (optional, default to 5)
     * @param limitPerGroup Limit the number of objects per search category. (optional)
     * @param include Search types to be included in results. (optional)
     * @param exclude Search types to be excluded from results. (optional)
     * @param format Format results are returned in. (optional)
     * @return ApiResponse&lt;InlineResponse20098&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<InlineResponse20098> radarGetSearchGlobalWithHttpInfo(String query, Integer limit, BigDecimal limitPerGroup, List<String> include, List<String> exclude, String format) throws ApiException {
        com.squareup.okhttp.Call call = radarGetSearchGlobalValidateBeforeCall(query, limit, limitPerGroup, include, exclude, format, null, null);
        Type localVarReturnType = new TypeToken<InlineResponse20098>(){}.getType();
        return apiClient.execute(call, localVarReturnType);
    }

    /**
     * Search for locations, autonomous systems (AS) and reports. (asynchronously)
     * Lets you search for locations, autonomous systems (AS) and reports.
     * @param query Search for locations, AS and reports. (required)
     * @param limit Limit the number of objects in the response. (optional, default to 5)
     * @param limitPerGroup Limit the number of objects per search category. (optional)
     * @param include Search types to be included in results. (optional)
     * @param exclude Search types to be excluded from results. (optional)
     * @param format Format results are returned in. (optional)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public com.squareup.okhttp.Call radarGetSearchGlobalAsync(String query, Integer limit, BigDecimal limitPerGroup, List<String> include, List<String> exclude, String format, final ApiCallback<InlineResponse20098> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = radarGetSearchGlobalValidateBeforeCall(query, limit, limitPerGroup, include, exclude, format, progressListener, progressRequestListener);
        Type localVarReturnType = new TypeToken<InlineResponse20098>(){}.getType();
        apiClient.executeAsync(call, localVarReturnType, callback);
        return call;
    }
}
