/*
 * Cloudflare API
 * Interact with Cloudflare's products and services via the Cloudflare API. For more information on how to create and troubleshoot API tokens, refer to our [API fundamentals](https://developers.cloudflare.com/fundamentals/api/).  Totally new to Cloudflare? [Start here](https://developers.cloudflare.com/fundamentals/get-started/).
 *
 * OpenAPI spec version: 4.0.0
 * 
 *
 * NOTE: This class is auto generated by the swagger code generator program.
 * https://github.com/swagger-api/swagger-codegen.git
 * Do not edit the class manually.
 */

package io.swagger.client.api;

import io.swagger.client.ApiCallback;
import io.swagger.client.ApiClient;
import io.swagger.client.ApiException;
import io.swagger.client.ApiResponse;
import io.swagger.client.Configuration;
import io.swagger.client.Pair;
import io.swagger.client.ProgressRequestBody;
import io.swagger.client.ProgressResponseBody;

import com.google.gson.reflect.TypeToken;

import java.io.IOException;


import io.swagger.client.model.InlineResponse20046;
import io.swagger.client.model.InlineResponse20071;
import io.swagger.client.model.InlineResponse20077;
import io.swagger.client.model.InlineResponse20078;
import io.swagger.client.model.InlineResponse20079;
import io.swagger.client.model.InlineResponse20080;
import io.swagger.client.model.InlineResponse20081;
import io.swagger.client.model.InlineResponse20082;
import io.swagger.client.model.InlineResponse20083;
import io.swagger.client.model.InlineResponse20084;
import io.swagger.client.model.InlineResponse20085;
import io.swagger.client.model.InlineResponse20086;
import io.swagger.client.model.InlineResponse20087;
import io.swagger.client.model.InlineResponse20088;
import io.swagger.client.model.InlineResponse20089;
import io.swagger.client.model.InlineResponse20090;
import io.swagger.client.model.InlineResponse20091;
import io.swagger.client.model.InlineResponse20092;
import io.swagger.client.model.InlineResponse404;
import org.threeten.bp.OffsetDateTime;

import java.lang.reflect.Type;
import java.util.ArrayList;
import java.util.HashMap;
import java.util.List;
import java.util.Map;

public class RadarHttpApi {
    private ApiClient apiClient;

    public RadarHttpApi() {
        this(Configuration.getDefaultApiClient());
    }

    public RadarHttpApi(ApiClient apiClient) {
        this.apiClient = apiClient;
    }

    public ApiClient getApiClient() {
        return apiClient;
    }

    public void setApiClient(ApiClient apiClient) {
        this.apiClient = apiClient;
    }

    /**
     * Build call for radarGetHttpTopASes
     * @param limit Limit the number of objects in the response. (optional, default to 5)
     * @param name Array of names that will be used to name the series in responses. (optional)
     * @param dateRange For example, use &#x60;7d&#x60; and &#x60;7dControl&#x60; to compare this week with the previous week. Use this parameter or set specific start and end dates (&#x60;dateStart&#x60; and &#x60;dateEnd&#x60; parameters). (optional)
     * @param dateStart Array of datetimes to filter the start of a series. (optional)
     * @param dateEnd Array of datetimes to filter the end of a series. (optional)
     * @param asn Array of comma separated list of ASNs, start with &#x60;-&#x60; to exclude from results. For example, &#x60;-174, 3356&#x60; excludes results from AS174, but includes results from AS3356. (optional)
     * @param location Array of comma separated list of locations (alpha-2 country codes). Start with &#x60;-&#x60; to exclude from results. For example, &#x60;-US,PT&#x60; excludes results from the US, but includes results from PT. (optional)
     * @param botClass Filter for bot class. Refer to [Bot classes](https://developers.cloudflare.com/radar/concepts/bot-classes/). (optional)
     * @param deviceType Filter for device type. (optional)
     * @param httpProtocol Filter for http protocol. (optional)
     * @param httpVersion Filter for http version. (optional)
     * @param ipVersion Filter for ip version. (optional)
     * @param os Filter for os name. (optional)
     * @param tlsVersion Filter for tls version. (optional)
     * @param format Format results are returned in. (optional)
     * @param progressListener Progress listener
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     */
    public com.squareup.okhttp.Call radarGetHttpTopASesCall(Integer limit, List<String> name, List<String> dateRange, List<OffsetDateTime> dateStart, List<OffsetDateTime> dateEnd, List<String> asn, List<String> location, List<String> botClass, List<String> deviceType, List<String> httpProtocol, List<String> httpVersion, List<String> ipVersion, List<String> os, List<String> tlsVersion, String format, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = null;
        
        // create path and map variables
        String localVarPath = "/radar/http/top/ases";

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        if (limit != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("limit", limit));
        if (name != null)
        localVarCollectionQueryParams.addAll(apiClient.parameterToPairs("multi", "name", name));
        if (dateRange != null)
        localVarCollectionQueryParams.addAll(apiClient.parameterToPairs("multi", "dateRange", dateRange));
        if (dateStart != null)
        localVarCollectionQueryParams.addAll(apiClient.parameterToPairs("multi", "dateStart", dateStart));
        if (dateEnd != null)
        localVarCollectionQueryParams.addAll(apiClient.parameterToPairs("multi", "dateEnd", dateEnd));
        if (asn != null)
        localVarCollectionQueryParams.addAll(apiClient.parameterToPairs("multi", "asn", asn));
        if (location != null)
        localVarCollectionQueryParams.addAll(apiClient.parameterToPairs("multi", "location", location));
        if (botClass != null)
        localVarCollectionQueryParams.addAll(apiClient.parameterToPairs("multi", "botClass", botClass));
        if (deviceType != null)
        localVarCollectionQueryParams.addAll(apiClient.parameterToPairs("multi", "deviceType", deviceType));
        if (httpProtocol != null)
        localVarCollectionQueryParams.addAll(apiClient.parameterToPairs("multi", "httpProtocol", httpProtocol));
        if (httpVersion != null)
        localVarCollectionQueryParams.addAll(apiClient.parameterToPairs("multi", "httpVersion", httpVersion));
        if (ipVersion != null)
        localVarCollectionQueryParams.addAll(apiClient.parameterToPairs("multi", "ipVersion", ipVersion));
        if (os != null)
        localVarCollectionQueryParams.addAll(apiClient.parameterToPairs("multi", "os", os));
        if (tlsVersion != null)
        localVarCollectionQueryParams.addAll(apiClient.parameterToPairs("multi", "tlsVersion", tlsVersion));
        if (format != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("format", format));

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] { "api_email", "api_key", "api_token" };
        return apiClient.buildCall(localVarPath, "GET", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }
    
    @SuppressWarnings("rawtypes")
    private com.squareup.okhttp.Call radarGetHttpTopASesValidateBeforeCall(Integer limit, List<String> name, List<String> dateRange, List<OffsetDateTime> dateStart, List<OffsetDateTime> dateEnd, List<String> asn, List<String> location, List<String> botClass, List<String> deviceType, List<String> httpProtocol, List<String> httpVersion, List<String> ipVersion, List<String> os, List<String> tlsVersion, String format, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        
        com.squareup.okhttp.Call call = radarGetHttpTopASesCall(limit, name, dateRange, dateStart, dateEnd, asn, location, botClass, deviceType, httpProtocol, httpVersion, ipVersion, os, tlsVersion, format, progressListener, progressRequestListener);
        return call;

        
        
        
        
    }

    /**
     * Get top autonomous systems by HTTP requests
     * Get the top autonomous systems (AS) by HTTP traffic. Values are a percentage out of the total traffic.
     * @param limit Limit the number of objects in the response. (optional, default to 5)
     * @param name Array of names that will be used to name the series in responses. (optional)
     * @param dateRange For example, use &#x60;7d&#x60; and &#x60;7dControl&#x60; to compare this week with the previous week. Use this parameter or set specific start and end dates (&#x60;dateStart&#x60; and &#x60;dateEnd&#x60; parameters). (optional)
     * @param dateStart Array of datetimes to filter the start of a series. (optional)
     * @param dateEnd Array of datetimes to filter the end of a series. (optional)
     * @param asn Array of comma separated list of ASNs, start with &#x60;-&#x60; to exclude from results. For example, &#x60;-174, 3356&#x60; excludes results from AS174, but includes results from AS3356. (optional)
     * @param location Array of comma separated list of locations (alpha-2 country codes). Start with &#x60;-&#x60; to exclude from results. For example, &#x60;-US,PT&#x60; excludes results from the US, but includes results from PT. (optional)
     * @param botClass Filter for bot class. Refer to [Bot classes](https://developers.cloudflare.com/radar/concepts/bot-classes/). (optional)
     * @param deviceType Filter for device type. (optional)
     * @param httpProtocol Filter for http protocol. (optional)
     * @param httpVersion Filter for http version. (optional)
     * @param ipVersion Filter for ip version. (optional)
     * @param os Filter for os name. (optional)
     * @param tlsVersion Filter for tls version. (optional)
     * @param format Format results are returned in. (optional)
     * @return InlineResponse20071
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public InlineResponse20071 radarGetHttpTopASes(Integer limit, List<String> name, List<String> dateRange, List<OffsetDateTime> dateStart, List<OffsetDateTime> dateEnd, List<String> asn, List<String> location, List<String> botClass, List<String> deviceType, List<String> httpProtocol, List<String> httpVersion, List<String> ipVersion, List<String> os, List<String> tlsVersion, String format) throws ApiException {
        ApiResponse<InlineResponse20071> resp = radarGetHttpTopASesWithHttpInfo(limit, name, dateRange, dateStart, dateEnd, asn, location, botClass, deviceType, httpProtocol, httpVersion, ipVersion, os, tlsVersion, format);
        return resp.getData();
    }

    /**
     * Get top autonomous systems by HTTP requests
     * Get the top autonomous systems (AS) by HTTP traffic. Values are a percentage out of the total traffic.
     * @param limit Limit the number of objects in the response. (optional, default to 5)
     * @param name Array of names that will be used to name the series in responses. (optional)
     * @param dateRange For example, use &#x60;7d&#x60; and &#x60;7dControl&#x60; to compare this week with the previous week. Use this parameter or set specific start and end dates (&#x60;dateStart&#x60; and &#x60;dateEnd&#x60; parameters). (optional)
     * @param dateStart Array of datetimes to filter the start of a series. (optional)
     * @param dateEnd Array of datetimes to filter the end of a series. (optional)
     * @param asn Array of comma separated list of ASNs, start with &#x60;-&#x60; to exclude from results. For example, &#x60;-174, 3356&#x60; excludes results from AS174, but includes results from AS3356. (optional)
     * @param location Array of comma separated list of locations (alpha-2 country codes). Start with &#x60;-&#x60; to exclude from results. For example, &#x60;-US,PT&#x60; excludes results from the US, but includes results from PT. (optional)
     * @param botClass Filter for bot class. Refer to [Bot classes](https://developers.cloudflare.com/radar/concepts/bot-classes/). (optional)
     * @param deviceType Filter for device type. (optional)
     * @param httpProtocol Filter for http protocol. (optional)
     * @param httpVersion Filter for http version. (optional)
     * @param ipVersion Filter for ip version. (optional)
     * @param os Filter for os name. (optional)
     * @param tlsVersion Filter for tls version. (optional)
     * @param format Format results are returned in. (optional)
     * @return ApiResponse&lt;InlineResponse20071&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<InlineResponse20071> radarGetHttpTopASesWithHttpInfo(Integer limit, List<String> name, List<String> dateRange, List<OffsetDateTime> dateStart, List<OffsetDateTime> dateEnd, List<String> asn, List<String> location, List<String> botClass, List<String> deviceType, List<String> httpProtocol, List<String> httpVersion, List<String> ipVersion, List<String> os, List<String> tlsVersion, String format) throws ApiException {
        com.squareup.okhttp.Call call = radarGetHttpTopASesValidateBeforeCall(limit, name, dateRange, dateStart, dateEnd, asn, location, botClass, deviceType, httpProtocol, httpVersion, ipVersion, os, tlsVersion, format, null, null);
        Type localVarReturnType = new TypeToken<InlineResponse20071>(){}.getType();
        return apiClient.execute(call, localVarReturnType);
    }

    /**
     * Get top autonomous systems by HTTP requests (asynchronously)
     * Get the top autonomous systems (AS) by HTTP traffic. Values are a percentage out of the total traffic.
     * @param limit Limit the number of objects in the response. (optional, default to 5)
     * @param name Array of names that will be used to name the series in responses. (optional)
     * @param dateRange For example, use &#x60;7d&#x60; and &#x60;7dControl&#x60; to compare this week with the previous week. Use this parameter or set specific start and end dates (&#x60;dateStart&#x60; and &#x60;dateEnd&#x60; parameters). (optional)
     * @param dateStart Array of datetimes to filter the start of a series. (optional)
     * @param dateEnd Array of datetimes to filter the end of a series. (optional)
     * @param asn Array of comma separated list of ASNs, start with &#x60;-&#x60; to exclude from results. For example, &#x60;-174, 3356&#x60; excludes results from AS174, but includes results from AS3356. (optional)
     * @param location Array of comma separated list of locations (alpha-2 country codes). Start with &#x60;-&#x60; to exclude from results. For example, &#x60;-US,PT&#x60; excludes results from the US, but includes results from PT. (optional)
     * @param botClass Filter for bot class. Refer to [Bot classes](https://developers.cloudflare.com/radar/concepts/bot-classes/). (optional)
     * @param deviceType Filter for device type. (optional)
     * @param httpProtocol Filter for http protocol. (optional)
     * @param httpVersion Filter for http version. (optional)
     * @param ipVersion Filter for ip version. (optional)
     * @param os Filter for os name. (optional)
     * @param tlsVersion Filter for tls version. (optional)
     * @param format Format results are returned in. (optional)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public com.squareup.okhttp.Call radarGetHttpTopASesAsync(Integer limit, List<String> name, List<String> dateRange, List<OffsetDateTime> dateStart, List<OffsetDateTime> dateEnd, List<String> asn, List<String> location, List<String> botClass, List<String> deviceType, List<String> httpProtocol, List<String> httpVersion, List<String> ipVersion, List<String> os, List<String> tlsVersion, String format, final ApiCallback<InlineResponse20071> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = radarGetHttpTopASesValidateBeforeCall(limit, name, dateRange, dateStart, dateEnd, asn, location, botClass, deviceType, httpProtocol, httpVersion, ipVersion, os, tlsVersion, format, progressListener, progressRequestListener);
        Type localVarReturnType = new TypeToken<InlineResponse20071>(){}.getType();
        apiClient.executeAsync(call, localVarReturnType, callback);
        return call;
    }
    /**
     * Build call for radarGetHttpTopASesByBotClass
     * @param botClass Bot class. (required)
     * @param limit Limit the number of objects in the response. (optional, default to 5)
     * @param name Array of names that will be used to name the series in responses. (optional)
     * @param dateRange For example, use &#x60;7d&#x60; and &#x60;7dControl&#x60; to compare this week with the previous week. Use this parameter or set specific start and end dates (&#x60;dateStart&#x60; and &#x60;dateEnd&#x60; parameters). (optional)
     * @param dateStart Array of datetimes to filter the start of a series. (optional)
     * @param dateEnd Array of datetimes to filter the end of a series. (optional)
     * @param asn Array of comma separated list of ASNs, start with &#x60;-&#x60; to exclude from results. For example, &#x60;-174, 3356&#x60; excludes results from AS174, but includes results from AS3356. (optional)
     * @param location Array of comma separated list of locations (alpha-2 country codes). Start with &#x60;-&#x60; to exclude from results. For example, &#x60;-US,PT&#x60; excludes results from the US, but includes results from PT. (optional)
     * @param deviceType Filter for device type. (optional)
     * @param httpProtocol Filter for http protocol. (optional)
     * @param httpVersion Filter for http version. (optional)
     * @param ipVersion Filter for ip version. (optional)
     * @param os Filter for os name. (optional)
     * @param tlsVersion Filter for tls version. (optional)
     * @param format Format results are returned in. (optional)
     * @param progressListener Progress listener
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     */
    public com.squareup.okhttp.Call radarGetHttpTopASesByBotClassCall(String botClass, Integer limit, List<String> name, List<String> dateRange, List<OffsetDateTime> dateStart, List<OffsetDateTime> dateEnd, List<String> asn, List<String> location, List<String> deviceType, List<String> httpProtocol, List<String> httpVersion, List<String> ipVersion, List<String> os, List<String> tlsVersion, String format, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = null;
        
        // create path and map variables
        String localVarPath = "/radar/http/top/ases/bot_class/{bot_class}"
            .replaceAll("\\{" + "bot_class" + "\\}", apiClient.escapeString(botClass.toString()));

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        if (limit != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("limit", limit));
        if (name != null)
        localVarCollectionQueryParams.addAll(apiClient.parameterToPairs("multi", "name", name));
        if (dateRange != null)
        localVarCollectionQueryParams.addAll(apiClient.parameterToPairs("multi", "dateRange", dateRange));
        if (dateStart != null)
        localVarCollectionQueryParams.addAll(apiClient.parameterToPairs("multi", "dateStart", dateStart));
        if (dateEnd != null)
        localVarCollectionQueryParams.addAll(apiClient.parameterToPairs("multi", "dateEnd", dateEnd));
        if (asn != null)
        localVarCollectionQueryParams.addAll(apiClient.parameterToPairs("multi", "asn", asn));
        if (location != null)
        localVarCollectionQueryParams.addAll(apiClient.parameterToPairs("multi", "location", location));
        if (deviceType != null)
        localVarCollectionQueryParams.addAll(apiClient.parameterToPairs("multi", "deviceType", deviceType));
        if (httpProtocol != null)
        localVarCollectionQueryParams.addAll(apiClient.parameterToPairs("multi", "httpProtocol", httpProtocol));
        if (httpVersion != null)
        localVarCollectionQueryParams.addAll(apiClient.parameterToPairs("multi", "httpVersion", httpVersion));
        if (ipVersion != null)
        localVarCollectionQueryParams.addAll(apiClient.parameterToPairs("multi", "ipVersion", ipVersion));
        if (os != null)
        localVarCollectionQueryParams.addAll(apiClient.parameterToPairs("multi", "os", os));
        if (tlsVersion != null)
        localVarCollectionQueryParams.addAll(apiClient.parameterToPairs("multi", "tlsVersion", tlsVersion));
        if (format != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("format", format));

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] { "api_email", "api_key", "api_token" };
        return apiClient.buildCall(localVarPath, "GET", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }
    
    @SuppressWarnings("rawtypes")
    private com.squareup.okhttp.Call radarGetHttpTopASesByBotClassValidateBeforeCall(String botClass, Integer limit, List<String> name, List<String> dateRange, List<OffsetDateTime> dateStart, List<OffsetDateTime> dateEnd, List<String> asn, List<String> location, List<String> deviceType, List<String> httpProtocol, List<String> httpVersion, List<String> ipVersion, List<String> os, List<String> tlsVersion, String format, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        // verify the required parameter 'botClass' is set
        if (botClass == null) {
            throw new ApiException("Missing the required parameter 'botClass' when calling radarGetHttpTopASesByBotClass(Async)");
        }
        
        com.squareup.okhttp.Call call = radarGetHttpTopASesByBotClassCall(botClass, limit, name, dateRange, dateStart, dateEnd, asn, location, deviceType, httpProtocol, httpVersion, ipVersion, os, tlsVersion, format, progressListener, progressRequestListener);
        return call;

        
        
        
        
    }

    /**
     * Get top autonomous systems by bot class
     * Get the top autonomous systems (AS), by HTTP traffic, of the requested bot class. These two categories use Cloudflare&#x27;s bot score - refer to [Bot Scores](https://developers.cloudflare.com/bots/concepts/bot-score) for more information. Values are a percentage out of the total traffic.
     * @param botClass Bot class. (required)
     * @param limit Limit the number of objects in the response. (optional, default to 5)
     * @param name Array of names that will be used to name the series in responses. (optional)
     * @param dateRange For example, use &#x60;7d&#x60; and &#x60;7dControl&#x60; to compare this week with the previous week. Use this parameter or set specific start and end dates (&#x60;dateStart&#x60; and &#x60;dateEnd&#x60; parameters). (optional)
     * @param dateStart Array of datetimes to filter the start of a series. (optional)
     * @param dateEnd Array of datetimes to filter the end of a series. (optional)
     * @param asn Array of comma separated list of ASNs, start with &#x60;-&#x60; to exclude from results. For example, &#x60;-174, 3356&#x60; excludes results from AS174, but includes results from AS3356. (optional)
     * @param location Array of comma separated list of locations (alpha-2 country codes). Start with &#x60;-&#x60; to exclude from results. For example, &#x60;-US,PT&#x60; excludes results from the US, but includes results from PT. (optional)
     * @param deviceType Filter for device type. (optional)
     * @param httpProtocol Filter for http protocol. (optional)
     * @param httpVersion Filter for http version. (optional)
     * @param ipVersion Filter for ip version. (optional)
     * @param os Filter for os name. (optional)
     * @param tlsVersion Filter for tls version. (optional)
     * @param format Format results are returned in. (optional)
     * @return InlineResponse20071
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public InlineResponse20071 radarGetHttpTopASesByBotClass(String botClass, Integer limit, List<String> name, List<String> dateRange, List<OffsetDateTime> dateStart, List<OffsetDateTime> dateEnd, List<String> asn, List<String> location, List<String> deviceType, List<String> httpProtocol, List<String> httpVersion, List<String> ipVersion, List<String> os, List<String> tlsVersion, String format) throws ApiException {
        ApiResponse<InlineResponse20071> resp = radarGetHttpTopASesByBotClassWithHttpInfo(botClass, limit, name, dateRange, dateStart, dateEnd, asn, location, deviceType, httpProtocol, httpVersion, ipVersion, os, tlsVersion, format);
        return resp.getData();
    }

    /**
     * Get top autonomous systems by bot class
     * Get the top autonomous systems (AS), by HTTP traffic, of the requested bot class. These two categories use Cloudflare&#x27;s bot score - refer to [Bot Scores](https://developers.cloudflare.com/bots/concepts/bot-score) for more information. Values are a percentage out of the total traffic.
     * @param botClass Bot class. (required)
     * @param limit Limit the number of objects in the response. (optional, default to 5)
     * @param name Array of names that will be used to name the series in responses. (optional)
     * @param dateRange For example, use &#x60;7d&#x60; and &#x60;7dControl&#x60; to compare this week with the previous week. Use this parameter or set specific start and end dates (&#x60;dateStart&#x60; and &#x60;dateEnd&#x60; parameters). (optional)
     * @param dateStart Array of datetimes to filter the start of a series. (optional)
     * @param dateEnd Array of datetimes to filter the end of a series. (optional)
     * @param asn Array of comma separated list of ASNs, start with &#x60;-&#x60; to exclude from results. For example, &#x60;-174, 3356&#x60; excludes results from AS174, but includes results from AS3356. (optional)
     * @param location Array of comma separated list of locations (alpha-2 country codes). Start with &#x60;-&#x60; to exclude from results. For example, &#x60;-US,PT&#x60; excludes results from the US, but includes results from PT. (optional)
     * @param deviceType Filter for device type. (optional)
     * @param httpProtocol Filter for http protocol. (optional)
     * @param httpVersion Filter for http version. (optional)
     * @param ipVersion Filter for ip version. (optional)
     * @param os Filter for os name. (optional)
     * @param tlsVersion Filter for tls version. (optional)
     * @param format Format results are returned in. (optional)
     * @return ApiResponse&lt;InlineResponse20071&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<InlineResponse20071> radarGetHttpTopASesByBotClassWithHttpInfo(String botClass, Integer limit, List<String> name, List<String> dateRange, List<OffsetDateTime> dateStart, List<OffsetDateTime> dateEnd, List<String> asn, List<String> location, List<String> deviceType, List<String> httpProtocol, List<String> httpVersion, List<String> ipVersion, List<String> os, List<String> tlsVersion, String format) throws ApiException {
        com.squareup.okhttp.Call call = radarGetHttpTopASesByBotClassValidateBeforeCall(botClass, limit, name, dateRange, dateStart, dateEnd, asn, location, deviceType, httpProtocol, httpVersion, ipVersion, os, tlsVersion, format, null, null);
        Type localVarReturnType = new TypeToken<InlineResponse20071>(){}.getType();
        return apiClient.execute(call, localVarReturnType);
    }

    /**
     * Get top autonomous systems by bot class (asynchronously)
     * Get the top autonomous systems (AS), by HTTP traffic, of the requested bot class. These two categories use Cloudflare&#x27;s bot score - refer to [Bot Scores](https://developers.cloudflare.com/bots/concepts/bot-score) for more information. Values are a percentage out of the total traffic.
     * @param botClass Bot class. (required)
     * @param limit Limit the number of objects in the response. (optional, default to 5)
     * @param name Array of names that will be used to name the series in responses. (optional)
     * @param dateRange For example, use &#x60;7d&#x60; and &#x60;7dControl&#x60; to compare this week with the previous week. Use this parameter or set specific start and end dates (&#x60;dateStart&#x60; and &#x60;dateEnd&#x60; parameters). (optional)
     * @param dateStart Array of datetimes to filter the start of a series. (optional)
     * @param dateEnd Array of datetimes to filter the end of a series. (optional)
     * @param asn Array of comma separated list of ASNs, start with &#x60;-&#x60; to exclude from results. For example, &#x60;-174, 3356&#x60; excludes results from AS174, but includes results from AS3356. (optional)
     * @param location Array of comma separated list of locations (alpha-2 country codes). Start with &#x60;-&#x60; to exclude from results. For example, &#x60;-US,PT&#x60; excludes results from the US, but includes results from PT. (optional)
     * @param deviceType Filter for device type. (optional)
     * @param httpProtocol Filter for http protocol. (optional)
     * @param httpVersion Filter for http version. (optional)
     * @param ipVersion Filter for ip version. (optional)
     * @param os Filter for os name. (optional)
     * @param tlsVersion Filter for tls version. (optional)
     * @param format Format results are returned in. (optional)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public com.squareup.okhttp.Call radarGetHttpTopASesByBotClassAsync(String botClass, Integer limit, List<String> name, List<String> dateRange, List<OffsetDateTime> dateStart, List<OffsetDateTime> dateEnd, List<String> asn, List<String> location, List<String> deviceType, List<String> httpProtocol, List<String> httpVersion, List<String> ipVersion, List<String> os, List<String> tlsVersion, String format, final ApiCallback<InlineResponse20071> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = radarGetHttpTopASesByBotClassValidateBeforeCall(botClass, limit, name, dateRange, dateStart, dateEnd, asn, location, deviceType, httpProtocol, httpVersion, ipVersion, os, tlsVersion, format, progressListener, progressRequestListener);
        Type localVarReturnType = new TypeToken<InlineResponse20071>(){}.getType();
        apiClient.executeAsync(call, localVarReturnType, callback);
        return call;
    }
    /**
     * Build call for radarGetHttpTopASesByDeviceType
     * @param deviceType Device type. (required)
     * @param limit Limit the number of objects in the response. (optional, default to 5)
     * @param name Array of names that will be used to name the series in responses. (optional)
     * @param dateRange For example, use &#x60;7d&#x60; and &#x60;7dControl&#x60; to compare this week with the previous week. Use this parameter or set specific start and end dates (&#x60;dateStart&#x60; and &#x60;dateEnd&#x60; parameters). (optional)
     * @param dateStart Array of datetimes to filter the start of a series. (optional)
     * @param dateEnd Array of datetimes to filter the end of a series. (optional)
     * @param asn Array of comma separated list of ASNs, start with &#x60;-&#x60; to exclude from results. For example, &#x60;-174, 3356&#x60; excludes results from AS174, but includes results from AS3356. (optional)
     * @param location Array of comma separated list of locations (alpha-2 country codes). Start with &#x60;-&#x60; to exclude from results. For example, &#x60;-US,PT&#x60; excludes results from the US, but includes results from PT. (optional)
     * @param botClass Filter for bot class. Refer to [Bot classes](https://developers.cloudflare.com/radar/concepts/bot-classes/). (optional)
     * @param httpProtocol Filter for http protocol. (optional)
     * @param httpVersion Filter for http version. (optional)
     * @param ipVersion Filter for ip version. (optional)
     * @param os Filter for os name. (optional)
     * @param tlsVersion Filter for tls version. (optional)
     * @param format Format results are returned in. (optional)
     * @param progressListener Progress listener
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     */
    public com.squareup.okhttp.Call radarGetHttpTopASesByDeviceTypeCall(String deviceType, Integer limit, List<String> name, List<String> dateRange, List<OffsetDateTime> dateStart, List<OffsetDateTime> dateEnd, List<String> asn, List<String> location, List<String> botClass, List<String> httpProtocol, List<String> httpVersion, List<String> ipVersion, List<String> os, List<String> tlsVersion, String format, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = null;
        
        // create path and map variables
        String localVarPath = "/radar/http/top/ases/device_type/{device_type}"
            .replaceAll("\\{" + "device_type" + "\\}", apiClient.escapeString(deviceType.toString()));

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        if (limit != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("limit", limit));
        if (name != null)
        localVarCollectionQueryParams.addAll(apiClient.parameterToPairs("multi", "name", name));
        if (dateRange != null)
        localVarCollectionQueryParams.addAll(apiClient.parameterToPairs("multi", "dateRange", dateRange));
        if (dateStart != null)
        localVarCollectionQueryParams.addAll(apiClient.parameterToPairs("multi", "dateStart", dateStart));
        if (dateEnd != null)
        localVarCollectionQueryParams.addAll(apiClient.parameterToPairs("multi", "dateEnd", dateEnd));
        if (asn != null)
        localVarCollectionQueryParams.addAll(apiClient.parameterToPairs("multi", "asn", asn));
        if (location != null)
        localVarCollectionQueryParams.addAll(apiClient.parameterToPairs("multi", "location", location));
        if (botClass != null)
        localVarCollectionQueryParams.addAll(apiClient.parameterToPairs("multi", "botClass", botClass));
        if (httpProtocol != null)
        localVarCollectionQueryParams.addAll(apiClient.parameterToPairs("multi", "httpProtocol", httpProtocol));
        if (httpVersion != null)
        localVarCollectionQueryParams.addAll(apiClient.parameterToPairs("multi", "httpVersion", httpVersion));
        if (ipVersion != null)
        localVarCollectionQueryParams.addAll(apiClient.parameterToPairs("multi", "ipVersion", ipVersion));
        if (os != null)
        localVarCollectionQueryParams.addAll(apiClient.parameterToPairs("multi", "os", os));
        if (tlsVersion != null)
        localVarCollectionQueryParams.addAll(apiClient.parameterToPairs("multi", "tlsVersion", tlsVersion));
        if (format != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("format", format));

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] { "api_email", "api_key", "api_token" };
        return apiClient.buildCall(localVarPath, "GET", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }
    
    @SuppressWarnings("rawtypes")
    private com.squareup.okhttp.Call radarGetHttpTopASesByDeviceTypeValidateBeforeCall(String deviceType, Integer limit, List<String> name, List<String> dateRange, List<OffsetDateTime> dateStart, List<OffsetDateTime> dateEnd, List<String> asn, List<String> location, List<String> botClass, List<String> httpProtocol, List<String> httpVersion, List<String> ipVersion, List<String> os, List<String> tlsVersion, String format, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        // verify the required parameter 'deviceType' is set
        if (deviceType == null) {
            throw new ApiException("Missing the required parameter 'deviceType' when calling radarGetHttpTopASesByDeviceType(Async)");
        }
        
        com.squareup.okhttp.Call call = radarGetHttpTopASesByDeviceTypeCall(deviceType, limit, name, dateRange, dateStart, dateEnd, asn, location, botClass, httpProtocol, httpVersion, ipVersion, os, tlsVersion, format, progressListener, progressRequestListener);
        return call;

        
        
        
        
    }

    /**
     * Get top autonomous systems by device type
     * Get the top autonomous systems (AS), by HTTP traffic, of the requested device type. Values are a percentage out of the total traffic.
     * @param deviceType Device type. (required)
     * @param limit Limit the number of objects in the response. (optional, default to 5)
     * @param name Array of names that will be used to name the series in responses. (optional)
     * @param dateRange For example, use &#x60;7d&#x60; and &#x60;7dControl&#x60; to compare this week with the previous week. Use this parameter or set specific start and end dates (&#x60;dateStart&#x60; and &#x60;dateEnd&#x60; parameters). (optional)
     * @param dateStart Array of datetimes to filter the start of a series. (optional)
     * @param dateEnd Array of datetimes to filter the end of a series. (optional)
     * @param asn Array of comma separated list of ASNs, start with &#x60;-&#x60; to exclude from results. For example, &#x60;-174, 3356&#x60; excludes results from AS174, but includes results from AS3356. (optional)
     * @param location Array of comma separated list of locations (alpha-2 country codes). Start with &#x60;-&#x60; to exclude from results. For example, &#x60;-US,PT&#x60; excludes results from the US, but includes results from PT. (optional)
     * @param botClass Filter for bot class. Refer to [Bot classes](https://developers.cloudflare.com/radar/concepts/bot-classes/). (optional)
     * @param httpProtocol Filter for http protocol. (optional)
     * @param httpVersion Filter for http version. (optional)
     * @param ipVersion Filter for ip version. (optional)
     * @param os Filter for os name. (optional)
     * @param tlsVersion Filter for tls version. (optional)
     * @param format Format results are returned in. (optional)
     * @return InlineResponse20071
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public InlineResponse20071 radarGetHttpTopASesByDeviceType(String deviceType, Integer limit, List<String> name, List<String> dateRange, List<OffsetDateTime> dateStart, List<OffsetDateTime> dateEnd, List<String> asn, List<String> location, List<String> botClass, List<String> httpProtocol, List<String> httpVersion, List<String> ipVersion, List<String> os, List<String> tlsVersion, String format) throws ApiException {
        ApiResponse<InlineResponse20071> resp = radarGetHttpTopASesByDeviceTypeWithHttpInfo(deviceType, limit, name, dateRange, dateStart, dateEnd, asn, location, botClass, httpProtocol, httpVersion, ipVersion, os, tlsVersion, format);
        return resp.getData();
    }

    /**
     * Get top autonomous systems by device type
     * Get the top autonomous systems (AS), by HTTP traffic, of the requested device type. Values are a percentage out of the total traffic.
     * @param deviceType Device type. (required)
     * @param limit Limit the number of objects in the response. (optional, default to 5)
     * @param name Array of names that will be used to name the series in responses. (optional)
     * @param dateRange For example, use &#x60;7d&#x60; and &#x60;7dControl&#x60; to compare this week with the previous week. Use this parameter or set specific start and end dates (&#x60;dateStart&#x60; and &#x60;dateEnd&#x60; parameters). (optional)
     * @param dateStart Array of datetimes to filter the start of a series. (optional)
     * @param dateEnd Array of datetimes to filter the end of a series. (optional)
     * @param asn Array of comma separated list of ASNs, start with &#x60;-&#x60; to exclude from results. For example, &#x60;-174, 3356&#x60; excludes results from AS174, but includes results from AS3356. (optional)
     * @param location Array of comma separated list of locations (alpha-2 country codes). Start with &#x60;-&#x60; to exclude from results. For example, &#x60;-US,PT&#x60; excludes results from the US, but includes results from PT. (optional)
     * @param botClass Filter for bot class. Refer to [Bot classes](https://developers.cloudflare.com/radar/concepts/bot-classes/). (optional)
     * @param httpProtocol Filter for http protocol. (optional)
     * @param httpVersion Filter for http version. (optional)
     * @param ipVersion Filter for ip version. (optional)
     * @param os Filter for os name. (optional)
     * @param tlsVersion Filter for tls version. (optional)
     * @param format Format results are returned in. (optional)
     * @return ApiResponse&lt;InlineResponse20071&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<InlineResponse20071> radarGetHttpTopASesByDeviceTypeWithHttpInfo(String deviceType, Integer limit, List<String> name, List<String> dateRange, List<OffsetDateTime> dateStart, List<OffsetDateTime> dateEnd, List<String> asn, List<String> location, List<String> botClass, List<String> httpProtocol, List<String> httpVersion, List<String> ipVersion, List<String> os, List<String> tlsVersion, String format) throws ApiException {
        com.squareup.okhttp.Call call = radarGetHttpTopASesByDeviceTypeValidateBeforeCall(deviceType, limit, name, dateRange, dateStart, dateEnd, asn, location, botClass, httpProtocol, httpVersion, ipVersion, os, tlsVersion, format, null, null);
        Type localVarReturnType = new TypeToken<InlineResponse20071>(){}.getType();
        return apiClient.execute(call, localVarReturnType);
    }

    /**
     * Get top autonomous systems by device type (asynchronously)
     * Get the top autonomous systems (AS), by HTTP traffic, of the requested device type. Values are a percentage out of the total traffic.
     * @param deviceType Device type. (required)
     * @param limit Limit the number of objects in the response. (optional, default to 5)
     * @param name Array of names that will be used to name the series in responses. (optional)
     * @param dateRange For example, use &#x60;7d&#x60; and &#x60;7dControl&#x60; to compare this week with the previous week. Use this parameter or set specific start and end dates (&#x60;dateStart&#x60; and &#x60;dateEnd&#x60; parameters). (optional)
     * @param dateStart Array of datetimes to filter the start of a series. (optional)
     * @param dateEnd Array of datetimes to filter the end of a series. (optional)
     * @param asn Array of comma separated list of ASNs, start with &#x60;-&#x60; to exclude from results. For example, &#x60;-174, 3356&#x60; excludes results from AS174, but includes results from AS3356. (optional)
     * @param location Array of comma separated list of locations (alpha-2 country codes). Start with &#x60;-&#x60; to exclude from results. For example, &#x60;-US,PT&#x60; excludes results from the US, but includes results from PT. (optional)
     * @param botClass Filter for bot class. Refer to [Bot classes](https://developers.cloudflare.com/radar/concepts/bot-classes/). (optional)
     * @param httpProtocol Filter for http protocol. (optional)
     * @param httpVersion Filter for http version. (optional)
     * @param ipVersion Filter for ip version. (optional)
     * @param os Filter for os name. (optional)
     * @param tlsVersion Filter for tls version. (optional)
     * @param format Format results are returned in. (optional)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public com.squareup.okhttp.Call radarGetHttpTopASesByDeviceTypeAsync(String deviceType, Integer limit, List<String> name, List<String> dateRange, List<OffsetDateTime> dateStart, List<OffsetDateTime> dateEnd, List<String> asn, List<String> location, List<String> botClass, List<String> httpProtocol, List<String> httpVersion, List<String> ipVersion, List<String> os, List<String> tlsVersion, String format, final ApiCallback<InlineResponse20071> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = radarGetHttpTopASesByDeviceTypeValidateBeforeCall(deviceType, limit, name, dateRange, dateStart, dateEnd, asn, location, botClass, httpProtocol, httpVersion, ipVersion, os, tlsVersion, format, progressListener, progressRequestListener);
        Type localVarReturnType = new TypeToken<InlineResponse20071>(){}.getType();
        apiClient.executeAsync(call, localVarReturnType, callback);
        return call;
    }
    /**
     * Build call for radarGetHttpTopASesByHTTPProtocol
     * @param httpProtocol HTTP Protocol. (required)
     * @param limit Limit the number of objects in the response. (optional, default to 5)
     * @param name Array of names that will be used to name the series in responses. (optional)
     * @param dateRange For example, use &#x60;7d&#x60; and &#x60;7dControl&#x60; to compare this week with the previous week. Use this parameter or set specific start and end dates (&#x60;dateStart&#x60; and &#x60;dateEnd&#x60; parameters). (optional)
     * @param dateStart Array of datetimes to filter the start of a series. (optional)
     * @param dateEnd Array of datetimes to filter the end of a series. (optional)
     * @param asn Array of comma separated list of ASNs, start with &#x60;-&#x60; to exclude from results. For example, &#x60;-174, 3356&#x60; excludes results from AS174, but includes results from AS3356. (optional)
     * @param location Array of comma separated list of locations (alpha-2 country codes). Start with &#x60;-&#x60; to exclude from results. For example, &#x60;-US,PT&#x60; excludes results from the US, but includes results from PT. (optional)
     * @param botClass Filter for bot class. Refer to [Bot classes](https://developers.cloudflare.com/radar/concepts/bot-classes/). (optional)
     * @param deviceType Filter for device type. (optional)
     * @param httpProtocol Filter for http protocol. (optional)
     * @param ipVersion Filter for ip version. (optional)
     * @param os Filter for os name. (optional)
     * @param tlsVersion Filter for tls version. (optional)
     * @param format Format results are returned in. (optional)
     * @param progressListener Progress listener
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     */
    public com.squareup.okhttp.Call radarGetHttpTopASesByHTTPProtocolCall(String httpProtocol, Integer limit, List<String> name, List<String> dateRange, List<OffsetDateTime> dateStart, List<OffsetDateTime> dateEnd, List<String> asn, List<String> location, List<String> botClass, List<String> deviceType, List<String> httpProtocol, List<String> ipVersion, List<String> os, List<String> tlsVersion, String format, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = null;
        
        // create path and map variables
        String localVarPath = "/radar/http/top/ases/http_protocol/{http_protocol}"
            .replaceAll("\\{" + "http_protocol" + "\\}", apiClient.escapeString(httpProtocol.toString()));

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        if (limit != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("limit", limit));
        if (name != null)
        localVarCollectionQueryParams.addAll(apiClient.parameterToPairs("multi", "name", name));
        if (dateRange != null)
        localVarCollectionQueryParams.addAll(apiClient.parameterToPairs("multi", "dateRange", dateRange));
        if (dateStart != null)
        localVarCollectionQueryParams.addAll(apiClient.parameterToPairs("multi", "dateStart", dateStart));
        if (dateEnd != null)
        localVarCollectionQueryParams.addAll(apiClient.parameterToPairs("multi", "dateEnd", dateEnd));
        if (asn != null)
        localVarCollectionQueryParams.addAll(apiClient.parameterToPairs("multi", "asn", asn));
        if (location != null)
        localVarCollectionQueryParams.addAll(apiClient.parameterToPairs("multi", "location", location));
        if (botClass != null)
        localVarCollectionQueryParams.addAll(apiClient.parameterToPairs("multi", "botClass", botClass));
        if (deviceType != null)
        localVarCollectionQueryParams.addAll(apiClient.parameterToPairs("multi", "deviceType", deviceType));
        if (httpProtocol != null)
        localVarCollectionQueryParams.addAll(apiClient.parameterToPairs("multi", "httpProtocol", httpProtocol));
        if (ipVersion != null)
        localVarCollectionQueryParams.addAll(apiClient.parameterToPairs("multi", "ipVersion", ipVersion));
        if (os != null)
        localVarCollectionQueryParams.addAll(apiClient.parameterToPairs("multi", "os", os));
        if (tlsVersion != null)
        localVarCollectionQueryParams.addAll(apiClient.parameterToPairs("multi", "tlsVersion", tlsVersion));
        if (format != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("format", format));

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] { "api_email", "api_key", "api_token" };
        return apiClient.buildCall(localVarPath, "GET", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }
    
    @SuppressWarnings("rawtypes")
    private com.squareup.okhttp.Call radarGetHttpTopASesByHTTPProtocolValidateBeforeCall(String httpProtocol, Integer limit, List<String> name, List<String> dateRange, List<OffsetDateTime> dateStart, List<OffsetDateTime> dateEnd, List<String> asn, List<String> location, List<String> botClass, List<String> deviceType, List<String> httpProtocol, List<String> ipVersion, List<String> os, List<String> tlsVersion, String format, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        // verify the required parameter 'httpProtocol' is set
        if (httpProtocol == null) {
            throw new ApiException("Missing the required parameter 'httpProtocol' when calling radarGetHttpTopASesByHTTPProtocol(Async)");
        }
        
        com.squareup.okhttp.Call call = radarGetHttpTopASesByHTTPProtocolCall(httpProtocol, limit, name, dateRange, dateStart, dateEnd, asn, location, botClass, deviceType, httpProtocol, ipVersion, os, tlsVersion, format, progressListener, progressRequestListener);
        return call;

        
        
        
        
    }

    /**
     * Get top autonomous systems by HTTP protocol
     * Get the top autonomous systems (AS), by HTTP traffic, of the requested HTTP protocol. Values are a percentage out of the total traffic.
     * @param httpProtocol HTTP Protocol. (required)
     * @param limit Limit the number of objects in the response. (optional, default to 5)
     * @param name Array of names that will be used to name the series in responses. (optional)
     * @param dateRange For example, use &#x60;7d&#x60; and &#x60;7dControl&#x60; to compare this week with the previous week. Use this parameter or set specific start and end dates (&#x60;dateStart&#x60; and &#x60;dateEnd&#x60; parameters). (optional)
     * @param dateStart Array of datetimes to filter the start of a series. (optional)
     * @param dateEnd Array of datetimes to filter the end of a series. (optional)
     * @param asn Array of comma separated list of ASNs, start with &#x60;-&#x60; to exclude from results. For example, &#x60;-174, 3356&#x60; excludes results from AS174, but includes results from AS3356. (optional)
     * @param location Array of comma separated list of locations (alpha-2 country codes). Start with &#x60;-&#x60; to exclude from results. For example, &#x60;-US,PT&#x60; excludes results from the US, but includes results from PT. (optional)
     * @param botClass Filter for bot class. Refer to [Bot classes](https://developers.cloudflare.com/radar/concepts/bot-classes/). (optional)
     * @param deviceType Filter for device type. (optional)
     * @param httpProtocol Filter for http protocol. (optional)
     * @param ipVersion Filter for ip version. (optional)
     * @param os Filter for os name. (optional)
     * @param tlsVersion Filter for tls version. (optional)
     * @param format Format results are returned in. (optional)
     * @return InlineResponse20071
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public InlineResponse20071 radarGetHttpTopASesByHTTPProtocol(String httpProtocol, Integer limit, List<String> name, List<String> dateRange, List<OffsetDateTime> dateStart, List<OffsetDateTime> dateEnd, List<String> asn, List<String> location, List<String> botClass, List<String> deviceType, List<String> httpProtocol, List<String> ipVersion, List<String> os, List<String> tlsVersion, String format) throws ApiException {
        ApiResponse<InlineResponse20071> resp = radarGetHttpTopASesByHTTPProtocolWithHttpInfo(httpProtocol, limit, name, dateRange, dateStart, dateEnd, asn, location, botClass, deviceType, httpProtocol, ipVersion, os, tlsVersion, format);
        return resp.getData();
    }

    /**
     * Get top autonomous systems by HTTP protocol
     * Get the top autonomous systems (AS), by HTTP traffic, of the requested HTTP protocol. Values are a percentage out of the total traffic.
     * @param httpProtocol HTTP Protocol. (required)
     * @param limit Limit the number of objects in the response. (optional, default to 5)
     * @param name Array of names that will be used to name the series in responses. (optional)
     * @param dateRange For example, use &#x60;7d&#x60; and &#x60;7dControl&#x60; to compare this week with the previous week. Use this parameter or set specific start and end dates (&#x60;dateStart&#x60; and &#x60;dateEnd&#x60; parameters). (optional)
     * @param dateStart Array of datetimes to filter the start of a series. (optional)
     * @param dateEnd Array of datetimes to filter the end of a series. (optional)
     * @param asn Array of comma separated list of ASNs, start with &#x60;-&#x60; to exclude from results. For example, &#x60;-174, 3356&#x60; excludes results from AS174, but includes results from AS3356. (optional)
     * @param location Array of comma separated list of locations (alpha-2 country codes). Start with &#x60;-&#x60; to exclude from results. For example, &#x60;-US,PT&#x60; excludes results from the US, but includes results from PT. (optional)
     * @param botClass Filter for bot class. Refer to [Bot classes](https://developers.cloudflare.com/radar/concepts/bot-classes/). (optional)
     * @param deviceType Filter for device type. (optional)
     * @param httpProtocol Filter for http protocol. (optional)
     * @param ipVersion Filter for ip version. (optional)
     * @param os Filter for os name. (optional)
     * @param tlsVersion Filter for tls version. (optional)
     * @param format Format results are returned in. (optional)
     * @return ApiResponse&lt;InlineResponse20071&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<InlineResponse20071> radarGetHttpTopASesByHTTPProtocolWithHttpInfo(String httpProtocol, Integer limit, List<String> name, List<String> dateRange, List<OffsetDateTime> dateStart, List<OffsetDateTime> dateEnd, List<String> asn, List<String> location, List<String> botClass, List<String> deviceType, List<String> httpProtocol, List<String> ipVersion, List<String> os, List<String> tlsVersion, String format) throws ApiException {
        com.squareup.okhttp.Call call = radarGetHttpTopASesByHTTPProtocolValidateBeforeCall(httpProtocol, limit, name, dateRange, dateStart, dateEnd, asn, location, botClass, deviceType, httpProtocol, ipVersion, os, tlsVersion, format, null, null);
        Type localVarReturnType = new TypeToken<InlineResponse20071>(){}.getType();
        return apiClient.execute(call, localVarReturnType);
    }

    /**
     * Get top autonomous systems by HTTP protocol (asynchronously)
     * Get the top autonomous systems (AS), by HTTP traffic, of the requested HTTP protocol. Values are a percentage out of the total traffic.
     * @param httpProtocol HTTP Protocol. (required)
     * @param limit Limit the number of objects in the response. (optional, default to 5)
     * @param name Array of names that will be used to name the series in responses. (optional)
     * @param dateRange For example, use &#x60;7d&#x60; and &#x60;7dControl&#x60; to compare this week with the previous week. Use this parameter or set specific start and end dates (&#x60;dateStart&#x60; and &#x60;dateEnd&#x60; parameters). (optional)
     * @param dateStart Array of datetimes to filter the start of a series. (optional)
     * @param dateEnd Array of datetimes to filter the end of a series. (optional)
     * @param asn Array of comma separated list of ASNs, start with &#x60;-&#x60; to exclude from results. For example, &#x60;-174, 3356&#x60; excludes results from AS174, but includes results from AS3356. (optional)
     * @param location Array of comma separated list of locations (alpha-2 country codes). Start with &#x60;-&#x60; to exclude from results. For example, &#x60;-US,PT&#x60; excludes results from the US, but includes results from PT. (optional)
     * @param botClass Filter for bot class. Refer to [Bot classes](https://developers.cloudflare.com/radar/concepts/bot-classes/). (optional)
     * @param deviceType Filter for device type. (optional)
     * @param httpProtocol Filter for http protocol. (optional)
     * @param ipVersion Filter for ip version. (optional)
     * @param os Filter for os name. (optional)
     * @param tlsVersion Filter for tls version. (optional)
     * @param format Format results are returned in. (optional)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public com.squareup.okhttp.Call radarGetHttpTopASesByHTTPProtocolAsync(String httpProtocol, Integer limit, List<String> name, List<String> dateRange, List<OffsetDateTime> dateStart, List<OffsetDateTime> dateEnd, List<String> asn, List<String> location, List<String> botClass, List<String> deviceType, List<String> httpProtocol, List<String> ipVersion, List<String> os, List<String> tlsVersion, String format, final ApiCallback<InlineResponse20071> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = radarGetHttpTopASesByHTTPProtocolValidateBeforeCall(httpProtocol, limit, name, dateRange, dateStart, dateEnd, asn, location, botClass, deviceType, httpProtocol, ipVersion, os, tlsVersion, format, progressListener, progressRequestListener);
        Type localVarReturnType = new TypeToken<InlineResponse20071>(){}.getType();
        apiClient.executeAsync(call, localVarReturnType, callback);
        return call;
    }
    /**
     * Build call for radarGetHttpTopASesByHTTPVersion
     * @param httpVersion HTTP version. (required)
     * @param limit Limit the number of objects in the response. (optional, default to 5)
     * @param name Array of names that will be used to name the series in responses. (optional)
     * @param dateRange For example, use &#x60;7d&#x60; and &#x60;7dControl&#x60; to compare this week with the previous week. Use this parameter or set specific start and end dates (&#x60;dateStart&#x60; and &#x60;dateEnd&#x60; parameters). (optional)
     * @param dateStart Array of datetimes to filter the start of a series. (optional)
     * @param dateEnd Array of datetimes to filter the end of a series. (optional)
     * @param asn Array of comma separated list of ASNs, start with &#x60;-&#x60; to exclude from results. For example, &#x60;-174, 3356&#x60; excludes results from AS174, but includes results from AS3356. (optional)
     * @param location Array of comma separated list of locations (alpha-2 country codes). Start with &#x60;-&#x60; to exclude from results. For example, &#x60;-US,PT&#x60; excludes results from the US, but includes results from PT. (optional)
     * @param botClass Filter for bot class. Refer to [Bot classes](https://developers.cloudflare.com/radar/concepts/bot-classes/). (optional)
     * @param deviceType Filter for device type. (optional)
     * @param httpProtocol Filter for http protocol. (optional)
     * @param ipVersion Filter for ip version. (optional)
     * @param os Filter for os name. (optional)
     * @param tlsVersion Filter for tls version. (optional)
     * @param format Format results are returned in. (optional)
     * @param progressListener Progress listener
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     */
    public com.squareup.okhttp.Call radarGetHttpTopASesByHTTPVersionCall(String httpVersion, Integer limit, List<String> name, List<String> dateRange, List<OffsetDateTime> dateStart, List<OffsetDateTime> dateEnd, List<String> asn, List<String> location, List<String> botClass, List<String> deviceType, List<String> httpProtocol, List<String> ipVersion, List<String> os, List<String> tlsVersion, String format, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = null;
        
        // create path and map variables
        String localVarPath = "/radar/http/top/ases/http_version/{http_version}"
            .replaceAll("\\{" + "http_version" + "\\}", apiClient.escapeString(httpVersion.toString()));

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        if (limit != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("limit", limit));
        if (name != null)
        localVarCollectionQueryParams.addAll(apiClient.parameterToPairs("multi", "name", name));
        if (dateRange != null)
        localVarCollectionQueryParams.addAll(apiClient.parameterToPairs("multi", "dateRange", dateRange));
        if (dateStart != null)
        localVarCollectionQueryParams.addAll(apiClient.parameterToPairs("multi", "dateStart", dateStart));
        if (dateEnd != null)
        localVarCollectionQueryParams.addAll(apiClient.parameterToPairs("multi", "dateEnd", dateEnd));
        if (asn != null)
        localVarCollectionQueryParams.addAll(apiClient.parameterToPairs("multi", "asn", asn));
        if (location != null)
        localVarCollectionQueryParams.addAll(apiClient.parameterToPairs("multi", "location", location));
        if (botClass != null)
        localVarCollectionQueryParams.addAll(apiClient.parameterToPairs("multi", "botClass", botClass));
        if (deviceType != null)
        localVarCollectionQueryParams.addAll(apiClient.parameterToPairs("multi", "deviceType", deviceType));
        if (httpProtocol != null)
        localVarCollectionQueryParams.addAll(apiClient.parameterToPairs("multi", "httpProtocol", httpProtocol));
        if (ipVersion != null)
        localVarCollectionQueryParams.addAll(apiClient.parameterToPairs("multi", "ipVersion", ipVersion));
        if (os != null)
        localVarCollectionQueryParams.addAll(apiClient.parameterToPairs("multi", "os", os));
        if (tlsVersion != null)
        localVarCollectionQueryParams.addAll(apiClient.parameterToPairs("multi", "tlsVersion", tlsVersion));
        if (format != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("format", format));

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] { "api_email", "api_key", "api_token" };
        return apiClient.buildCall(localVarPath, "GET", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }
    
    @SuppressWarnings("rawtypes")
    private com.squareup.okhttp.Call radarGetHttpTopASesByHTTPVersionValidateBeforeCall(String httpVersion, Integer limit, List<String> name, List<String> dateRange, List<OffsetDateTime> dateStart, List<OffsetDateTime> dateEnd, List<String> asn, List<String> location, List<String> botClass, List<String> deviceType, List<String> httpProtocol, List<String> ipVersion, List<String> os, List<String> tlsVersion, String format, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        // verify the required parameter 'httpVersion' is set
        if (httpVersion == null) {
            throw new ApiException("Missing the required parameter 'httpVersion' when calling radarGetHttpTopASesByHTTPVersion(Async)");
        }
        
        com.squareup.okhttp.Call call = radarGetHttpTopASesByHTTPVersionCall(httpVersion, limit, name, dateRange, dateStart, dateEnd, asn, location, botClass, deviceType, httpProtocol, ipVersion, os, tlsVersion, format, progressListener, progressRequestListener);
        return call;

        
        
        
        
    }

    /**
     * Get top autonomous systems by HTTP version
     * Get the top autonomous systems (AS), by HTTP traffic, of the requested HTTP protocol version. Values are a percentage out of the total traffic.
     * @param httpVersion HTTP version. (required)
     * @param limit Limit the number of objects in the response. (optional, default to 5)
     * @param name Array of names that will be used to name the series in responses. (optional)
     * @param dateRange For example, use &#x60;7d&#x60; and &#x60;7dControl&#x60; to compare this week with the previous week. Use this parameter or set specific start and end dates (&#x60;dateStart&#x60; and &#x60;dateEnd&#x60; parameters). (optional)
     * @param dateStart Array of datetimes to filter the start of a series. (optional)
     * @param dateEnd Array of datetimes to filter the end of a series. (optional)
     * @param asn Array of comma separated list of ASNs, start with &#x60;-&#x60; to exclude from results. For example, &#x60;-174, 3356&#x60; excludes results from AS174, but includes results from AS3356. (optional)
     * @param location Array of comma separated list of locations (alpha-2 country codes). Start with &#x60;-&#x60; to exclude from results. For example, &#x60;-US,PT&#x60; excludes results from the US, but includes results from PT. (optional)
     * @param botClass Filter for bot class. Refer to [Bot classes](https://developers.cloudflare.com/radar/concepts/bot-classes/). (optional)
     * @param deviceType Filter for device type. (optional)
     * @param httpProtocol Filter for http protocol. (optional)
     * @param ipVersion Filter for ip version. (optional)
     * @param os Filter for os name. (optional)
     * @param tlsVersion Filter for tls version. (optional)
     * @param format Format results are returned in. (optional)
     * @return InlineResponse20071
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public InlineResponse20071 radarGetHttpTopASesByHTTPVersion(String httpVersion, Integer limit, List<String> name, List<String> dateRange, List<OffsetDateTime> dateStart, List<OffsetDateTime> dateEnd, List<String> asn, List<String> location, List<String> botClass, List<String> deviceType, List<String> httpProtocol, List<String> ipVersion, List<String> os, List<String> tlsVersion, String format) throws ApiException {
        ApiResponse<InlineResponse20071> resp = radarGetHttpTopASesByHTTPVersionWithHttpInfo(httpVersion, limit, name, dateRange, dateStart, dateEnd, asn, location, botClass, deviceType, httpProtocol, ipVersion, os, tlsVersion, format);
        return resp.getData();
    }

    /**
     * Get top autonomous systems by HTTP version
     * Get the top autonomous systems (AS), by HTTP traffic, of the requested HTTP protocol version. Values are a percentage out of the total traffic.
     * @param httpVersion HTTP version. (required)
     * @param limit Limit the number of objects in the response. (optional, default to 5)
     * @param name Array of names that will be used to name the series in responses. (optional)
     * @param dateRange For example, use &#x60;7d&#x60; and &#x60;7dControl&#x60; to compare this week with the previous week. Use this parameter or set specific start and end dates (&#x60;dateStart&#x60; and &#x60;dateEnd&#x60; parameters). (optional)
     * @param dateStart Array of datetimes to filter the start of a series. (optional)
     * @param dateEnd Array of datetimes to filter the end of a series. (optional)
     * @param asn Array of comma separated list of ASNs, start with &#x60;-&#x60; to exclude from results. For example, &#x60;-174, 3356&#x60; excludes results from AS174, but includes results from AS3356. (optional)
     * @param location Array of comma separated list of locations (alpha-2 country codes). Start with &#x60;-&#x60; to exclude from results. For example, &#x60;-US,PT&#x60; excludes results from the US, but includes results from PT. (optional)
     * @param botClass Filter for bot class. Refer to [Bot classes](https://developers.cloudflare.com/radar/concepts/bot-classes/). (optional)
     * @param deviceType Filter for device type. (optional)
     * @param httpProtocol Filter for http protocol. (optional)
     * @param ipVersion Filter for ip version. (optional)
     * @param os Filter for os name. (optional)
     * @param tlsVersion Filter for tls version. (optional)
     * @param format Format results are returned in. (optional)
     * @return ApiResponse&lt;InlineResponse20071&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<InlineResponse20071> radarGetHttpTopASesByHTTPVersionWithHttpInfo(String httpVersion, Integer limit, List<String> name, List<String> dateRange, List<OffsetDateTime> dateStart, List<OffsetDateTime> dateEnd, List<String> asn, List<String> location, List<String> botClass, List<String> deviceType, List<String> httpProtocol, List<String> ipVersion, List<String> os, List<String> tlsVersion, String format) throws ApiException {
        com.squareup.okhttp.Call call = radarGetHttpTopASesByHTTPVersionValidateBeforeCall(httpVersion, limit, name, dateRange, dateStart, dateEnd, asn, location, botClass, deviceType, httpProtocol, ipVersion, os, tlsVersion, format, null, null);
        Type localVarReturnType = new TypeToken<InlineResponse20071>(){}.getType();
        return apiClient.execute(call, localVarReturnType);
    }

    /**
     * Get top autonomous systems by HTTP version (asynchronously)
     * Get the top autonomous systems (AS), by HTTP traffic, of the requested HTTP protocol version. Values are a percentage out of the total traffic.
     * @param httpVersion HTTP version. (required)
     * @param limit Limit the number of objects in the response. (optional, default to 5)
     * @param name Array of names that will be used to name the series in responses. (optional)
     * @param dateRange For example, use &#x60;7d&#x60; and &#x60;7dControl&#x60; to compare this week with the previous week. Use this parameter or set specific start and end dates (&#x60;dateStart&#x60; and &#x60;dateEnd&#x60; parameters). (optional)
     * @param dateStart Array of datetimes to filter the start of a series. (optional)
     * @param dateEnd Array of datetimes to filter the end of a series. (optional)
     * @param asn Array of comma separated list of ASNs, start with &#x60;-&#x60; to exclude from results. For example, &#x60;-174, 3356&#x60; excludes results from AS174, but includes results from AS3356. (optional)
     * @param location Array of comma separated list of locations (alpha-2 country codes). Start with &#x60;-&#x60; to exclude from results. For example, &#x60;-US,PT&#x60; excludes results from the US, but includes results from PT. (optional)
     * @param botClass Filter for bot class. Refer to [Bot classes](https://developers.cloudflare.com/radar/concepts/bot-classes/). (optional)
     * @param deviceType Filter for device type. (optional)
     * @param httpProtocol Filter for http protocol. (optional)
     * @param ipVersion Filter for ip version. (optional)
     * @param os Filter for os name. (optional)
     * @param tlsVersion Filter for tls version. (optional)
     * @param format Format results are returned in. (optional)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public com.squareup.okhttp.Call radarGetHttpTopASesByHTTPVersionAsync(String httpVersion, Integer limit, List<String> name, List<String> dateRange, List<OffsetDateTime> dateStart, List<OffsetDateTime> dateEnd, List<String> asn, List<String> location, List<String> botClass, List<String> deviceType, List<String> httpProtocol, List<String> ipVersion, List<String> os, List<String> tlsVersion, String format, final ApiCallback<InlineResponse20071> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = radarGetHttpTopASesByHTTPVersionValidateBeforeCall(httpVersion, limit, name, dateRange, dateStart, dateEnd, asn, location, botClass, deviceType, httpProtocol, ipVersion, os, tlsVersion, format, progressListener, progressRequestListener);
        Type localVarReturnType = new TypeToken<InlineResponse20071>(){}.getType();
        apiClient.executeAsync(call, localVarReturnType, callback);
        return call;
    }
    /**
     * Build call for radarGetHttpTopASesByIpVersion
     * @param ipVersion IP version. (required)
     * @param limit Limit the number of objects in the response. (optional, default to 5)
     * @param name Array of names that will be used to name the series in responses. (optional)
     * @param dateRange For example, use &#x60;7d&#x60; and &#x60;7dControl&#x60; to compare this week with the previous week. Use this parameter or set specific start and end dates (&#x60;dateStart&#x60; and &#x60;dateEnd&#x60; parameters). (optional)
     * @param dateStart Array of datetimes to filter the start of a series. (optional)
     * @param dateEnd Array of datetimes to filter the end of a series. (optional)
     * @param asn Array of comma separated list of ASNs, start with &#x60;-&#x60; to exclude from results. For example, &#x60;-174, 3356&#x60; excludes results from AS174, but includes results from AS3356. (optional)
     * @param location Array of comma separated list of locations (alpha-2 country codes). Start with &#x60;-&#x60; to exclude from results. For example, &#x60;-US,PT&#x60; excludes results from the US, but includes results from PT. (optional)
     * @param botClass Filter for bot class. Refer to [Bot classes](https://developers.cloudflare.com/radar/concepts/bot-classes/). (optional)
     * @param deviceType Filter for device type. (optional)
     * @param httpProtocol Filter for http protocol. (optional)
     * @param httpVersion Filter for http version. (optional)
     * @param os Filter for os name. (optional)
     * @param tlsVersion Filter for tls version. (optional)
     * @param format Format results are returned in. (optional)
     * @param progressListener Progress listener
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     */
    public com.squareup.okhttp.Call radarGetHttpTopASesByIpVersionCall(String ipVersion, Integer limit, List<String> name, List<String> dateRange, List<OffsetDateTime> dateStart, List<OffsetDateTime> dateEnd, List<String> asn, List<String> location, List<String> botClass, List<String> deviceType, List<String> httpProtocol, List<String> httpVersion, List<String> os, List<String> tlsVersion, String format, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = null;
        
        // create path and map variables
        String localVarPath = "/radar/http/top/ases/ip_version/{ip_version}"
            .replaceAll("\\{" + "ip_version" + "\\}", apiClient.escapeString(ipVersion.toString()));

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        if (limit != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("limit", limit));
        if (name != null)
        localVarCollectionQueryParams.addAll(apiClient.parameterToPairs("multi", "name", name));
        if (dateRange != null)
        localVarCollectionQueryParams.addAll(apiClient.parameterToPairs("multi", "dateRange", dateRange));
        if (dateStart != null)
        localVarCollectionQueryParams.addAll(apiClient.parameterToPairs("multi", "dateStart", dateStart));
        if (dateEnd != null)
        localVarCollectionQueryParams.addAll(apiClient.parameterToPairs("multi", "dateEnd", dateEnd));
        if (asn != null)
        localVarCollectionQueryParams.addAll(apiClient.parameterToPairs("multi", "asn", asn));
        if (location != null)
        localVarCollectionQueryParams.addAll(apiClient.parameterToPairs("multi", "location", location));
        if (botClass != null)
        localVarCollectionQueryParams.addAll(apiClient.parameterToPairs("multi", "botClass", botClass));
        if (deviceType != null)
        localVarCollectionQueryParams.addAll(apiClient.parameterToPairs("multi", "deviceType", deviceType));
        if (httpProtocol != null)
        localVarCollectionQueryParams.addAll(apiClient.parameterToPairs("multi", "httpProtocol", httpProtocol));
        if (httpVersion != null)
        localVarCollectionQueryParams.addAll(apiClient.parameterToPairs("multi", "httpVersion", httpVersion));
        if (os != null)
        localVarCollectionQueryParams.addAll(apiClient.parameterToPairs("multi", "os", os));
        if (tlsVersion != null)
        localVarCollectionQueryParams.addAll(apiClient.parameterToPairs("multi", "tlsVersion", tlsVersion));
        if (format != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("format", format));

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] { "api_email", "api_key", "api_token" };
        return apiClient.buildCall(localVarPath, "GET", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }
    
    @SuppressWarnings("rawtypes")
    private com.squareup.okhttp.Call radarGetHttpTopASesByIpVersionValidateBeforeCall(String ipVersion, Integer limit, List<String> name, List<String> dateRange, List<OffsetDateTime> dateStart, List<OffsetDateTime> dateEnd, List<String> asn, List<String> location, List<String> botClass, List<String> deviceType, List<String> httpProtocol, List<String> httpVersion, List<String> os, List<String> tlsVersion, String format, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        // verify the required parameter 'ipVersion' is set
        if (ipVersion == null) {
            throw new ApiException("Missing the required parameter 'ipVersion' when calling radarGetHttpTopASesByIpVersion(Async)");
        }
        
        com.squareup.okhttp.Call call = radarGetHttpTopASesByIpVersionCall(ipVersion, limit, name, dateRange, dateStart, dateEnd, asn, location, botClass, deviceType, httpProtocol, httpVersion, os, tlsVersion, format, progressListener, progressRequestListener);
        return call;

        
        
        
        
    }

    /**
     * Get top autonomous systems by IP version
     * Get the top autonomous systems, by HTTP traffic, of the requested IP protocol version. Values are a percentage out of the total traffic.
     * @param ipVersion IP version. (required)
     * @param limit Limit the number of objects in the response. (optional, default to 5)
     * @param name Array of names that will be used to name the series in responses. (optional)
     * @param dateRange For example, use &#x60;7d&#x60; and &#x60;7dControl&#x60; to compare this week with the previous week. Use this parameter or set specific start and end dates (&#x60;dateStart&#x60; and &#x60;dateEnd&#x60; parameters). (optional)
     * @param dateStart Array of datetimes to filter the start of a series. (optional)
     * @param dateEnd Array of datetimes to filter the end of a series. (optional)
     * @param asn Array of comma separated list of ASNs, start with &#x60;-&#x60; to exclude from results. For example, &#x60;-174, 3356&#x60; excludes results from AS174, but includes results from AS3356. (optional)
     * @param location Array of comma separated list of locations (alpha-2 country codes). Start with &#x60;-&#x60; to exclude from results. For example, &#x60;-US,PT&#x60; excludes results from the US, but includes results from PT. (optional)
     * @param botClass Filter for bot class. Refer to [Bot classes](https://developers.cloudflare.com/radar/concepts/bot-classes/). (optional)
     * @param deviceType Filter for device type. (optional)
     * @param httpProtocol Filter for http protocol. (optional)
     * @param httpVersion Filter for http version. (optional)
     * @param os Filter for os name. (optional)
     * @param tlsVersion Filter for tls version. (optional)
     * @param format Format results are returned in. (optional)
     * @return InlineResponse20071
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public InlineResponse20071 radarGetHttpTopASesByIpVersion(String ipVersion, Integer limit, List<String> name, List<String> dateRange, List<OffsetDateTime> dateStart, List<OffsetDateTime> dateEnd, List<String> asn, List<String> location, List<String> botClass, List<String> deviceType, List<String> httpProtocol, List<String> httpVersion, List<String> os, List<String> tlsVersion, String format) throws ApiException {
        ApiResponse<InlineResponse20071> resp = radarGetHttpTopASesByIpVersionWithHttpInfo(ipVersion, limit, name, dateRange, dateStart, dateEnd, asn, location, botClass, deviceType, httpProtocol, httpVersion, os, tlsVersion, format);
        return resp.getData();
    }

    /**
     * Get top autonomous systems by IP version
     * Get the top autonomous systems, by HTTP traffic, of the requested IP protocol version. Values are a percentage out of the total traffic.
     * @param ipVersion IP version. (required)
     * @param limit Limit the number of objects in the response. (optional, default to 5)
     * @param name Array of names that will be used to name the series in responses. (optional)
     * @param dateRange For example, use &#x60;7d&#x60; and &#x60;7dControl&#x60; to compare this week with the previous week. Use this parameter or set specific start and end dates (&#x60;dateStart&#x60; and &#x60;dateEnd&#x60; parameters). (optional)
     * @param dateStart Array of datetimes to filter the start of a series. (optional)
     * @param dateEnd Array of datetimes to filter the end of a series. (optional)
     * @param asn Array of comma separated list of ASNs, start with &#x60;-&#x60; to exclude from results. For example, &#x60;-174, 3356&#x60; excludes results from AS174, but includes results from AS3356. (optional)
     * @param location Array of comma separated list of locations (alpha-2 country codes). Start with &#x60;-&#x60; to exclude from results. For example, &#x60;-US,PT&#x60; excludes results from the US, but includes results from PT. (optional)
     * @param botClass Filter for bot class. Refer to [Bot classes](https://developers.cloudflare.com/radar/concepts/bot-classes/). (optional)
     * @param deviceType Filter for device type. (optional)
     * @param httpProtocol Filter for http protocol. (optional)
     * @param httpVersion Filter for http version. (optional)
     * @param os Filter for os name. (optional)
     * @param tlsVersion Filter for tls version. (optional)
     * @param format Format results are returned in. (optional)
     * @return ApiResponse&lt;InlineResponse20071&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<InlineResponse20071> radarGetHttpTopASesByIpVersionWithHttpInfo(String ipVersion, Integer limit, List<String> name, List<String> dateRange, List<OffsetDateTime> dateStart, List<OffsetDateTime> dateEnd, List<String> asn, List<String> location, List<String> botClass, List<String> deviceType, List<String> httpProtocol, List<String> httpVersion, List<String> os, List<String> tlsVersion, String format) throws ApiException {
        com.squareup.okhttp.Call call = radarGetHttpTopASesByIpVersionValidateBeforeCall(ipVersion, limit, name, dateRange, dateStart, dateEnd, asn, location, botClass, deviceType, httpProtocol, httpVersion, os, tlsVersion, format, null, null);
        Type localVarReturnType = new TypeToken<InlineResponse20071>(){}.getType();
        return apiClient.execute(call, localVarReturnType);
    }

    /**
     * Get top autonomous systems by IP version (asynchronously)
     * Get the top autonomous systems, by HTTP traffic, of the requested IP protocol version. Values are a percentage out of the total traffic.
     * @param ipVersion IP version. (required)
     * @param limit Limit the number of objects in the response. (optional, default to 5)
     * @param name Array of names that will be used to name the series in responses. (optional)
[...]
