/*
 * Cloudflare API
 * Interact with Cloudflare's products and services via the Cloudflare API. For more information on how to create and troubleshoot API tokens, refer to our [API fundamentals](https://developers.cloudflare.com/fundamentals/api/).  Totally new to Cloudflare? [Start here](https://developers.cloudflare.com/fundamentals/get-started/).
 *
 * OpenAPI spec version: 4.0.0
 * 
 *
 * NOTE: This class is auto generated by the swagger code generator program.
 * https://github.com/swagger-api/swagger-codegen.git
 * Do not edit the class manually.
 */

package io.swagger.client.api;

import io.swagger.client.ApiCallback;
import io.swagger.client.ApiClient;
import io.swagger.client.ApiException;
import io.swagger.client.ApiResponse;
import io.swagger.client.Configuration;
import io.swagger.client.Pair;
import io.swagger.client.ProgressRequestBody;
import io.swagger.client.ProgressResponseBody;

import com.google.gson.reflect.TypeToken;

import java.io.IOException;


import io.swagger.client.model.InlineResponse200100;
import io.swagger.client.model.InlineResponse200101;
import io.swagger.client.model.InlineResponse20099;
import org.threeten.bp.OffsetDateTime;

import java.lang.reflect.Type;
import java.util.ArrayList;
import java.util.HashMap;
import java.util.List;
import java.util.Map;

public class RadarSpecialEventsApi {
    private ApiClient apiClient;

    public RadarSpecialEventsApi() {
        this(Configuration.getDefaultApiClient());
    }

    public RadarSpecialEventsApi(ApiClient apiClient) {
        this.apiClient = apiClient;
    }

    public ApiClient getApiClient() {
        return apiClient;
    }

    public void setApiClient(ApiClient apiClient) {
        this.apiClient = apiClient;
    }

    /**
     * Build call for radarGetSpecialEventsGet
     * @param eventAlias Special Event alias (required)
     * @param format Format results are returned in. (optional)
     * @param progressListener Progress listener
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     */
    public com.squareup.okhttp.Call radarGetSpecialEventsGetCall(String eventAlias, String format, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = null;
        
        // create path and map variables
        String localVarPath = "/radar/specialevents/{eventAlias}"
            .replaceAll("\\{" + "eventAlias" + "\\}", apiClient.escapeString(eventAlias.toString()));

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        if (format != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("format", format));

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] { "api_email", "api_key", "api_token" };
        return apiClient.buildCall(localVarPath, "GET", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }
    
    @SuppressWarnings("rawtypes")
    private com.squareup.okhttp.Call radarGetSpecialEventsGetValidateBeforeCall(String eventAlias, String format, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        // verify the required parameter 'eventAlias' is set
        if (eventAlias == null) {
            throw new ApiException("Missing the required parameter 'eventAlias' when calling radarGetSpecialEventsGet(Async)");
        }
        
        com.squareup.okhttp.Call call = radarGetSpecialEventsGetCall(eventAlias, format, progressListener, progressRequestListener);
        return call;

        
        
        
        
    }

    /**
     * Get a Single Special Events
     * Get a single Special Event.
     * @param eventAlias Special Event alias (required)
     * @param format Format results are returned in. (optional)
     * @return InlineResponse200100
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public InlineResponse200100 radarGetSpecialEventsGet(String eventAlias, String format) throws ApiException {
        ApiResponse<InlineResponse200100> resp = radarGetSpecialEventsGetWithHttpInfo(eventAlias, format);
        return resp.getData();
    }

    /**
     * Get a Single Special Events
     * Get a single Special Event.
     * @param eventAlias Special Event alias (required)
     * @param format Format results are returned in. (optional)
     * @return ApiResponse&lt;InlineResponse200100&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<InlineResponse200100> radarGetSpecialEventsGetWithHttpInfo(String eventAlias, String format) throws ApiException {
        com.squareup.okhttp.Call call = radarGetSpecialEventsGetValidateBeforeCall(eventAlias, format, null, null);
        Type localVarReturnType = new TypeToken<InlineResponse200100>(){}.getType();
        return apiClient.execute(call, localVarReturnType);
    }

    /**
     * Get a Single Special Events (asynchronously)
     * Get a single Special Event.
     * @param eventAlias Special Event alias (required)
     * @param format Format results are returned in. (optional)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public com.squareup.okhttp.Call radarGetSpecialEventsGetAsync(String eventAlias, String format, final ApiCallback<InlineResponse200100> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = radarGetSpecialEventsGetValidateBeforeCall(eventAlias, format, progressListener, progressRequestListener);
        Type localVarReturnType = new TypeToken<InlineResponse200100>(){}.getType();
        apiClient.executeAsync(call, localVarReturnType, callback);
        return call;
    }
    /**
     * Build call for radarGetSpecialEventsList
     * @param limit Limit the number of objects in the response. (optional, default to 5)
     * @param offset Number of objects to skip before grabbing results. (optional, default to 0)
     * @param format Format results are returned in. (optional)
     * @param progressListener Progress listener
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     */
    public com.squareup.okhttp.Call radarGetSpecialEventsListCall(Integer limit, Integer offset, String format, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = null;
        
        // create path and map variables
        String localVarPath = "/radar/specialevents";

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        if (limit != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("limit", limit));
        if (offset != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("offset", offset));
        if (format != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("format", format));

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] { "api_email", "api_key", "api_token" };
        return apiClient.buildCall(localVarPath, "GET", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }
    
    @SuppressWarnings("rawtypes")
    private com.squareup.okhttp.Call radarGetSpecialEventsListValidateBeforeCall(Integer limit, Integer offset, String format, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        
        com.squareup.okhttp.Call call = radarGetSpecialEventsListCall(limit, offset, format, progressListener, progressRequestListener);
        return call;

        
        
        
        
    }

    /**
     * List Special Events
     * Get a list of Special Events.
     * @param limit Limit the number of objects in the response. (optional, default to 5)
     * @param offset Number of objects to skip before grabbing results. (optional, default to 0)
     * @param format Format results are returned in. (optional)
     * @return InlineResponse20099
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public InlineResponse20099 radarGetSpecialEventsList(Integer limit, Integer offset, String format) throws ApiException {
        ApiResponse<InlineResponse20099> resp = radarGetSpecialEventsListWithHttpInfo(limit, offset, format);
        return resp.getData();
    }

    /**
     * List Special Events
     * Get a list of Special Events.
     * @param limit Limit the number of objects in the response. (optional, default to 5)
     * @param offset Number of objects to skip before grabbing results. (optional, default to 0)
     * @param format Format results are returned in. (optional)
     * @return ApiResponse&lt;InlineResponse20099&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<InlineResponse20099> radarGetSpecialEventsListWithHttpInfo(Integer limit, Integer offset, String format) throws ApiException {
        com.squareup.okhttp.Call call = radarGetSpecialEventsListValidateBeforeCall(limit, offset, format, null, null);
        Type localVarReturnType = new TypeToken<InlineResponse20099>(){}.getType();
        return apiClient.execute(call, localVarReturnType);
    }

    /**
     * List Special Events (asynchronously)
     * Get a list of Special Events.
     * @param limit Limit the number of objects in the response. (optional, default to 5)
     * @param offset Number of objects to skip before grabbing results. (optional, default to 0)
     * @param format Format results are returned in. (optional)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public com.squareup.okhttp.Call radarGetSpecialEventsListAsync(Integer limit, Integer offset, String format, final ApiCallback<InlineResponse20099> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = radarGetSpecialEventsListValidateBeforeCall(limit, offset, format, progressListener, progressRequestListener);
        Type localVarReturnType = new TypeToken<InlineResponse20099>(){}.getType();
        apiClient.executeAsync(call, localVarReturnType, callback);
        return call;
    }
    /**
     * Build call for radarGetTimeseriesSpecialEvents
     * @param eventAlias Special Event alias (required)
     * @param categoryAlias Special Event Category alias (required)
     * @param aggInterval Aggregation interval results should be returned in (for example, in 15 minutes or 1 hour intervals). Refer to [Aggregation intervals](https://developers.cloudflare.com/radar/concepts/aggregation-intervals/). (optional)
     * @param name Name that will be used to name the series in response. (optional)
     * @param dateStart Start of the date range (inclusive). (optional)
     * @param dateEnd End of the date range (inclusive). (optional)
     * @param location Location Alpha2 code. (optional)
     * @param format Format results are returned in. (optional)
     * @param progressListener Progress listener
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     */
    public com.squareup.okhttp.Call radarGetTimeseriesSpecialEventsCall(String eventAlias, String categoryAlias, String aggInterval, String name, OffsetDateTime dateStart, OffsetDateTime dateEnd, String location, String format, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = null;
        
        // create path and map variables
        String localVarPath = "/radar/specialevents/{eventAlias}/{categoryAlias}"
            .replaceAll("\\{" + "eventAlias" + "\\}", apiClient.escapeString(eventAlias.toString()))
            .replaceAll("\\{" + "categoryAlias" + "\\}", apiClient.escapeString(categoryAlias.toString()));

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        if (aggInterval != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("aggInterval", aggInterval));
        if (name != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("name", name));
        if (dateStart != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("dateStart", dateStart));
        if (dateEnd != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("dateEnd", dateEnd));
        if (location != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("location", location));
        if (format != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("format", format));

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] { "api_email", "api_key", "api_token" };
        return apiClient.buildCall(localVarPath, "GET", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }
    
    @SuppressWarnings("rawtypes")
    private com.squareup.okhttp.Call radarGetTimeseriesSpecialEventsValidateBeforeCall(String eventAlias, String categoryAlias, String aggInterval, String name, OffsetDateTime dateStart, OffsetDateTime dateEnd, String location, String format, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        // verify the required parameter 'eventAlias' is set
        if (eventAlias == null) {
            throw new ApiException("Missing the required parameter 'eventAlias' when calling radarGetTimeseriesSpecialEvents(Async)");
        }
        // verify the required parameter 'categoryAlias' is set
        if (categoryAlias == null) {
            throw new ApiException("Missing the required parameter 'categoryAlias' when calling radarGetTimeseriesSpecialEvents(Async)");
        }
        
        com.squareup.okhttp.Call call = radarGetTimeseriesSpecialEventsCall(eventAlias, categoryAlias, aggInterval, name, dateStart, dateEnd, location, format, progressListener, progressRequestListener);
        return call;

        
        
        
        
    }

    /**
     * Get Special Events time series
     * 
     * @param eventAlias Special Event alias (required)
     * @param categoryAlias Special Event Category alias (required)
     * @param aggInterval Aggregation interval results should be returned in (for example, in 15 minutes or 1 hour intervals). Refer to [Aggregation intervals](https://developers.cloudflare.com/radar/concepts/aggregation-intervals/). (optional)
     * @param name Name that will be used to name the series in response. (optional)
     * @param dateStart Start of the date range (inclusive). (optional)
     * @param dateEnd End of the date range (inclusive). (optional)
     * @param location Location Alpha2 code. (optional)
     * @param format Format results are returned in. (optional)
     * @return InlineResponse200101
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public InlineResponse200101 radarGetTimeseriesSpecialEvents(String eventAlias, String categoryAlias, String aggInterval, String name, OffsetDateTime dateStart, OffsetDateTime dateEnd, String location, String format) throws ApiException {
        ApiResponse<InlineResponse200101> resp = radarGetTimeseriesSpecialEventsWithHttpInfo(eventAlias, categoryAlias, aggInterval, name, dateStart, dateEnd, location, format);
        return resp.getData();
    }

    /**
     * Get Special Events time series
     * 
     * @param eventAlias Special Event alias (required)
     * @param categoryAlias Special Event Category alias (required)
     * @param aggInterval Aggregation interval results should be returned in (for example, in 15 minutes or 1 hour intervals). Refer to [Aggregation intervals](https://developers.cloudflare.com/radar/concepts/aggregation-intervals/). (optional)
     * @param name Name that will be used to name the series in response. (optional)
     * @param dateStart Start of the date range (inclusive). (optional)
     * @param dateEnd End of the date range (inclusive). (optional)
     * @param location Location Alpha2 code. (optional)
     * @param format Format results are returned in. (optional)
     * @return ApiResponse&lt;InlineResponse200101&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<InlineResponse200101> radarGetTimeseriesSpecialEventsWithHttpInfo(String eventAlias, String categoryAlias, String aggInterval, String name, OffsetDateTime dateStart, OffsetDateTime dateEnd, String location, String format) throws ApiException {
        com.squareup.okhttp.Call call = radarGetTimeseriesSpecialEventsValidateBeforeCall(eventAlias, categoryAlias, aggInterval, name, dateStart, dateEnd, location, format, null, null);
        Type localVarReturnType = new TypeToken<InlineResponse200101>(){}.getType();
        return apiClient.execute(call, localVarReturnType);
    }

    /**
     * Get Special Events time series (asynchronously)
     * 
     * @param eventAlias Special Event alias (required)
     * @param categoryAlias Special Event Category alias (required)
     * @param aggInterval Aggregation interval results should be returned in (for example, in 15 minutes or 1 hour intervals). Refer to [Aggregation intervals](https://developers.cloudflare.com/radar/concepts/aggregation-intervals/). (optional)
     * @param name Name that will be used to name the series in response. (optional)
     * @param dateStart Start of the date range (inclusive). (optional)
     * @param dateEnd End of the date range (inclusive). (optional)
     * @param location Location Alpha2 code. (optional)
     * @param format Format results are returned in. (optional)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public com.squareup.okhttp.Call radarGetTimeseriesSpecialEventsAsync(String eventAlias, String categoryAlias, String aggInterval, String name, OffsetDateTime dateStart, OffsetDateTime dateEnd, String location, String format, final ApiCallback<InlineResponse200101> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = radarGetTimeseriesSpecialEventsValidateBeforeCall(eventAlias, categoryAlias, aggInterval, name, dateStart, dateEnd, location, format, progressListener, progressRequestListener);
        Type localVarReturnType = new TypeToken<InlineResponse200101>(){}.getType();
        apiClient.executeAsync(call, localVarReturnType, callback);
        return call;
    }
}
